<!-- <div class="container page">
  <div class="row">
    <div class="col-12 col-lg-8 m-0 p-0">
      <div class="background-image" style="
        background-image: url('https://firebasestorage.googleapis.com/v0/b/beekideeapp.appspot.com/o/register-image.jpg?alt=media&token=e674aaf2-56d9-4cf1-961a-ff8b77767f54');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100px 0 0 100px;
        box-shadow: 0 0 10px darkblue;
        height: 100%;
        min-height: 600px;
      "></div>
    </div>
    <div class="col-12 col-lg-4 m-0 p-0">
      <mat-card class="w-100 register-card">
        <div class="d-flex align-items-center justify-content-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/beekideeapp.appspot.com/o/beekidee-logo.png?alt=media&token=c753b18f-73ab-478b-ad89-de9b83fb4eea" width="300" alt="Beekidee Logo">
        </div>
        <mat-card-header class="mb-5 mt-3">
          <mat-card-title class="header-text">Register...</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-12 col-lg-6">
              <mat-form-field class="example-full-width">
                <mat-label class="reg">Name</mat-label>
                <input matInput>
                <mat-icon matSuffix>man</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-6">
              <mat-form-field class="example-full-width">
                <mat-label>DOB</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-6">
              <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input matInput>
                <mat-icon matSuffix>elderly</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-6">
              <mat-form-field class="example-full-width">
                <mat-label>Gender</mat-label>
                <mat-select>
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                </mat-select>
                <mat-icon matSuffix>wc</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password">
                <mat-icon matSuffix>password</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-12">
              <button mat-raised-button class="example-full-width register-btn" color="primary">Register Now</button>
            </div>
            <div class="col-12 my-1">
            </div>
            <div class="col-12">
              <button mat-raised-button class="example-full-width login-btn" color="warn" routerLink="/security/sign-in">Login</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->

<div class="m-0 p-0 container-fluid full-page">
  <div class="row h-100 m-0 g-0">
    <!-- Left Column - Sign Up Form -->
    <div class="col-12 col-md-6 p-0 d-flex align-items-center justify-content-center bee-left-form">
      <mat-card class="login-card">
        <mat-card-header class="mb-4 text-center">
          <mat-card-title class="header-text">Join Our Fun!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Your Name</mat-label>
                  <input matInput formControlName="name">
                  <mat-icon matSuffix class="icon">person</mat-icon>
                  <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
                    We need to know your name!
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Birthday</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="signupForm.get('dob')?.hasError('required')">
                    When's your special day?
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Your Age</mat-label>
                  <input matInput type="number" formControlName="age">
                  <mat-icon matSuffix class="icon">elderly</mat-icon>
                  <mat-error *ngIf="signupForm.get('age')?.hasError('required')">
                    How young are you?
                  </mat-error>
                  <mat-error *ngIf="signupForm.get('age')?.hasError('min')">
                    You must be at least 3 years old
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                    <mat-option value="other">Other</mat-option>
                  </mat-select>
                  <mat-icon matSuffix class="icon">wc</mat-icon>
                  <mat-error *ngIf="signupForm.get('gender')?.hasError('required')">
                    Let us know how you identify
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Your Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-icon matSuffix class="icon">email</mat-icon>
                  <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                    We need your email!
                  </mat-error>
                  <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
                    That doesn't look like an email
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Secret Password</mat-label>
                  <input matInput
                         formControlName="password"
                         [type]="hidePassword ? 'password' : 'text'">
                  <button mat-icon-button matSuffix
                          (click)="hidePassword = !hidePassword"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hidePassword"
                          class="icon-button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                    Don't forget your secret word!
                  </mat-error>
                  <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
                    Make it longer (at least 6 letters)
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 text-center">
                <button mat-raised-button class="example-full-width login-btn" type="submit" [disabled]="signupForm.invalid">
                  Let's Play!
                </button>
              </div>
            </div>
          </form>

          <div class="col-12 my-2 text-center">
            <button mat-raised-button class="example-full-width register-btn" routerLink="/security/sign-in">
              Already a Friend? Sign In!
            </button>
          </div>

          <div class="row text-center">
            <div class="col-12">
              <button class="example-full-width signupwithgoogle-btn" mat-raised-button type="button" (click)="signInWithGoogle()">
                <img src="/assets/images/google-icon.png" alt="Google" class="google-icon">
                Play with Google
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Right Column - Branding Image -->
    <div class="col-12 col-md-6 p-0 d-none d-md-flex branding-column align-items-center justify-content-center">
    </div>
  </div>
</div>
