<div class="m-0 p-0 container-fluid full-page">
  <div class="row h-100 m-0 g-0">
    <!-- Left Column - Sign Up Form -->
    <div class="col-12 col-md-6 p-0 d-flex align-items-center justify-content-center bee-left-form">
      <mat-card class="login-card">
        <mat-card-header class="mb-4 text-center">
          <mat-card-title class="header-text">Join Our Fun!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Your Name</mat-label>
                  <input matInput formControlName="name">
                  <mat-icon matSuffix class="icon">person</mat-icon>
                  <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
                    We need to know your name!
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Birthday</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="signupForm.get('dob')?.hasError('required')">
                    When's your special day?
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Your Age</mat-label>
                  <input matInput type="number" formControlName="age">
                  <mat-icon matSuffix class="icon">elderly</mat-icon>
                  <mat-error *ngIf="signupForm.get('age')?.hasError('required')">
                    How young are you?
                  </mat-error>
                  <mat-error *ngIf="signupForm.get('age')?.hasError('min')">
                    You must be at least 3 years old
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-6 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                    <mat-option value="other">Other</mat-option>
                  </mat-select>
                  <mat-icon matSuffix class="icon">wc</mat-icon>
                  <mat-error *ngIf="signupForm.get('gender')?.hasError('required')">
                    Let us know how you identify
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Your Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-icon matSuffix class="icon">email</mat-icon>
                  <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                    We need your email!
                  </mat-error>
                  <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
                    That doesn't look like an email
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 text-center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Secret Password</mat-label>
                  <input matInput
                         formControlName="password"
                         [type]="hidePassword ? 'password' : 'text'">
                  <button mat-icon-button matSuffix
                          (click)="hidePassword = !hidePassword"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hidePassword"
                          class="icon-button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                    Don't forget your secret word!
                  </mat-error>
                  <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
                    Make it longer (at least 6 letters)
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 text-center">
                <button mat-raised-button class="example-full-width login-btn" type="submit" [disabled]="signupForm.invalid">
                  Let's Play!
                </button>
              </div>
            </div>
          </form>

          <div class="col-12 my-2 text-center">
            <button mat-raised-button class="example-full-width register-btn" routerLink="/security/sign-in">
              Already a Friend? Sign In!
            </button>
          </div>

          <!-- <div class="row text-center">
            <div class="col-12">
              <button class="example-full-width signupwithgoogle-btn" mat-raised-button type="button" (click)="signInWithGoogle()">
                <img src="/assets/images/google-icon.png" alt="Google" class="google-icon">
                Play with Google
              </button>
            </div>
          </div> -->
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Right Column - Branding Image -->
    <div class="col-12 col-md-6 p-0 d-none d-md-flex branding-column align-items-center justify-content-center">
    </div>
  </div>
</div>
